// Resets, Clearfix, etc
@import 'partials/reset';
@import 'partials/clearfix';

// Variables
$dark-color : #313C52;
$light-color: #506BA0;
$bright-color: #55B9F5;
$padding-all: 25px;

// Media Query Ranges
$medium-screen: 600px;
$large-screen: 900px;

// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark-color){
  font-size: $block_font_size;
  color: $block_font_color;
}

// Styles
*{
  box-sizing: border-box;
}

body{
  background: $bright-color;
  text-align: center;
  color: #EEE;
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  @include block_font(3.25em, $dark-color);
  padding: $padding-all;
}

h2{
  @include block_font(2em, $light-color);
  padding: 5px;
}

.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: $dark-color;
  margin-bottom: 20px;
  padding: 20px;
}


@media (min-width: $medium-screen) {
  h1{
    color: $light-color;
  }

  h2{
    color: $bright-color;
  }

  .block_family{
    max-width: 500px;
  }

  .block_family li{
    background-color: $light-color;
    float: left;
    width: 48%;
    margin: 1%;
  }
}

@media (min-width: $large-screen) {
  body{
    background: $dark-color;
  }

  h1{
    color: $bright-color;
  }

  h2{
    color: $dark-color;
  }

  .block_family{
    max-width: 800px;
  }

  .block_family li{
    background-color: $bright-color;
    width: 31.3%;
    margin: 1%;
  }
}